:root{
    --black:#0D1117;
    --black_hover:#111e2e;
}

*{
    font-family: 'Raleway', sans-serif;
}
.h-font{
    font-family: 'Raleway';
}

.custom-bg{
    background-color: var(--black);
}
.custom-bg:hover{
    background-color:var(--black_hover);
}
.btn{
    color: black;
    background-color: #FFFFFF;
    border :  2px solid black;
}
.btn:hover{
    background-color: #111e2e;
    color: white;
}
.btn_book{
    color: black;
    background-color: lightblue;
    border :  1px solid lightblue;
    padding : 3px 6px;
    transition: background-color 0.3s ease;
}
.btn_book:hover{
    background-color: #0096FF;
    color: white;
    
}
.btn2{
    color: white;
    background-color: #0D1117;
    border :  2px solid white;
    padding : 5px 10px
    
}
.btn2:hover{
    color: black;
    background-color: white;
    border-width : 5;
    
}
