:root{
    --black:#0D1117;
    --black_hover:#111e2e;
}

*{
    font-family: 'Raleway', sans-serif;
}
.h-font{
    font-family: 'Raleway';
}

.custom-bg{
    background-color: var(--black);
}
.custom-bg:hover{
    background-color:var(--black_hover);
}
.btn{
    color: black;
    background-color: #FFFFFF;
     border :  2px solid black; 
}
.btn:hover{
    background-color: #111e2e;
    color: white;
}
.btn_book{
    color: black;
    background-color: lightblue;
    border :  1px solid lightblue;
    
}
.btn_book:hover{
    background-color: #0096FF;
    color: white;
    
}
.blue_btn
{
    color: black;
    background-color:lightblue;
     border :  2px solid black;
}

/* .btn2{
    color: black;
    background-color: #FFFFFF;
     border :  2px solid black; 
    
}
.btn2:hover{
    background-color: #111e2e;
    color: white;
    
} */
.custom-alert
{
    position: fixed;
    top: 80px;
    right: 25px;
    z-index:1111;
}