:root{
    --black:#0D1117;
    --black_hover:#111e2e;
}

*{
    font-family: 'Raleway', sans-serif;
}
.h-font{
    font-family: 'Raleway';
}

.custom-bg{
    background-color: var(--black);
}
.custom-bg:hover{
    background-color:var(--black_hover);
}

.custom-alert{
    position: fixed;
    top: 80px;
    right: 25px;
}
#dashboard-menu
{
    position: fixed;
    height : 100%;
    z-index: 11;
}
@media screen and (max-width:991px)
{
    #dashboard-menu
    {
        height : 100%;
    }
    #main-content
    {
    margin-top:60px;
    }
}